*{
    margin: 0; 
    padding: 0;

}

main h1{
    text-align: center;
    margin: 50px auto;
}

a{
    text-decoration: none;
}

.nomProduit{
    display: block;
    width: 200px;
}

.prix{
    display: block;
    width: 200px;
}

.produitsPanier{
    display: block;
    width: 90%;
    margin: auto;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    border-bottom: 1px solid rgb(124, 123, 123);
    background-color: #fff;
}

.produitsPanier img{
    height: 87.5px;
    width: 43.75px;
}

.controls{
    display: flex;
    align-items: center;
    width: 250px;
}

.ajouter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color:#3399ff;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    margin: 0px 20px;
}

.supprimer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color:red;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    margin: 0px 20px;
}

.total{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #3399ff;
    margin: 50px auto 0px auto;
    position: absolute;
    bottom: 100px;
}

.total p{
    color: #fff;
    font-weight: bold;
}

.total p:last-of-type{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    color: #3399ff;
    background-color: #fff;
    font-weight: bold;
}

.total a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background-color: #fff;
    color:#3399ff;
    font-weight: bold;
}

@media (max-width: 800px) { 
    .produitsPanier img{
        display: none;
    }

    .nomProduit{
        display: block;
        width: 200px;
        font-size: 20px;
    }
 }

