
.detailProduit{
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: calc(100% - 200px);
 	height: calc(100% - 200px);
    padding: 100px;

}

.titre{
font-size: 48px;
}

.images {
	border-style: solid;
	border-width: medium;
	border-color: black;
	margin-right: 3%;
	box-shadow: 0 0 2em black;
	transition: transform .2s;
}

.image{
	background-color: #e5e5e5;
	width: 100%;
	display: block;
	
}

.images:hover {
  transform: scale(1.1);
}

.prix{
	display: inline;
}

.stock{

}

.etoile {

}

.etoile_gris {
	filter: grayscale(100%);
}

.scam{

}

.description{

}

.note_moy{

}

.avis_tout{
	margin-top: 2%;
}

.avis{
	margin-top: 10%;
	padding: 2%;
}

.nom_prenom{

}

.note{

}

.commentaire{

}

.chiffrePrix {
	color: red;
	font-weight: bolder;
}

.contenu {
	background-color: lightgray;
	border: solid;
	border-color: gray;
	border-radius: 10px;
	
}



