*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
    color: var( --text-color);
}

html{
    --text-color: #414141;
    --main-color: #3399ff;
    --grey-color: #f2f2f2;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    width: 90%;
    height: 100px;
    padding: 0 5%;
    background-color: var(--main-color);

    
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

header h1{
    color: #fff;
}

header p{
    color: #fff;
}

header nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

header nav ul li a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    width: 100%;
    
}

header nav ul li a img{
    margin-right: 5px;
}

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: var(--text-color);
}

footer p{
    color: #fff;
}

body{
    background-color: var(--grey-color);
}