main{
    min-height: calc(100vh - 250px);
    position: relative;
}

main h1{
    text-align: center;
    margin: 50px auto;
}

.utilisateur{
    display: block;
    width: 90%;
    margin: auto;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    border-bottom: 1px solid rgb(124, 123, 123);
    background-color: #fff;
}

.utilisateur p{
    width: 20%;
}